/* =WP_SiteManager_page_navi
----------------------------------------------- */
.page_navi {
	@include pagination;
	li.current span {
		background: $pagination-link-current-background;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-color;
		cursor: $pagination-link-current-cursor;
		padding: $pagination-link-pad;
	}
}

/* =WP_SiteManager_bread_crumb
----------------------------------------------- */
.site-breadcrumb {
	@include grid-column(12);
}
.bread_crumb {
	@extend .breadcrumbs;
}

