/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {

	/* Menu */
	.top-bar .name  {
		border-left: $topbar-divider-border-bottom;
	}

	/* colophon */
	.site-info {
		text-align: left;
	}
	.theme-info {
		margin-top: 0;
		text-align: right;
	}
	.footer-hide-for-small {
		display: inline;
	}
}