/* Color setting */
$site-header-bg: $primary-color;
$site-header-text: white;
$site-header-a: $site-header-text;
$site-header-a-hover: lighten($site-header-bg, 30%);

$site-footer-bg: #333333;
$site-footer-text: #cccccc;
$site-footer-a: white;
$site-footer-a-hover: lighten($site-footer-bg, 30%);

$site-navigation-bg: $topbar-bg;

$site-main-bg: $body-bg;


/* margin padding */
$margin: emCalc(30px);

